#### MTA Document-1

#### 1-Ans

In [1]:
#what is the result?
x=8
y=10
result=x//3*3/2+y%2**2
print(result)

5.0

#### 2-Ans

In [2]:
#valid code to print congratulations meassage?
start = input('How old were you at the time of joining? ')
end = input('How old are you today? ')

print('Congratulations on ' + str(int(end) - int(start)) + ' Years of Service!')

How old were you at the time of joining?  30
How old are you today?  25

Congratulations on -5 Years of Service!

#### 3-Ans

In [3]:
#won't print'CAT'to the console

x='ACROTE'
y='APPLE'
z='TOMATO'

print(x[2] + y[1] + z[1])

RPO

#### 4-Ans

In [4]:
#what is the condition to get result as TRUE?
x='durga'
y='durga'

In [5]:
z=print('True')
result = x is y
print(z)

True
None

#### 5-Ans

In [6]:
#data types of block 1,2,3?
a1='10'
b1=3
c1=a1*b1
print(c1)

101010

In [7]:
a2=10
b2=3
c2=a2/b2
print(c2)

3.3333333333333335

In [8]:
a3=2.6
b3=1
c3=a3/b3
print(c3)

2.6

In [ ]:
c1 ois of str,c2 is f float & c3is of float

#### 6-Ans

In [12]:
#which cases we will get the same result? 
13//4
11//3
3**1
23%5

3

In [13]:
13//4

3

In [14]:
11/3

3.6666666666666665

In [15]:
3**1

3

In [16]:
23%5

3

#### 7-Ans

In [17]:
#output?
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)

False
True

#### 8-Ans

In [18]:
#result want zero?
a=1
b=3
c=5
d=7
a-b//d
a**d-1
a+b*2
a%b-1

0

In [19]:
a-b//d

1

In [20]:
a**b//d

0

In [21]:
a+b*2

7

In [22]:
a%b-1

0

#### 9-Ans

In [23]:
#result?
s='AB CD'
list1=list(s)
list1.append('EF')
print(list1)

['A', 'B', ' ', 'C', 'D', 'EF']

#### 10-Ans

In [24]:
#condition to get result as valid?
a=5
b=10
c=2
d=True

x=a+b*c
y=a+b/d

if x>y:
    print('valid')
else:
    print('invalid')

valid

#### 11-Ans

In [25]:
#sum of x and y?
x=input("Enter First Number")
y=input("Enter Second Number")
print("result:"+str(int(x)+int(y)))

Enter First Number 11
Enter Second Number 11

result:22

#### 12-Ans

In [ ]:
#valid statements?
result=a-b*c+d
The above expression is equivalent to a-(b*c)+d
First b*c will be evaluated followed by substraction and addition

#### 13-Ans

In [26]:
#data types?
weight=62.4
zip='80098'
value=+23E4

(float, str, float)

#### 14-Ans

In [28]:
#data types?
a=10+20
b='10'+'20'
c='10'*3
a is of int type,b is of str type and c is of str type

#### 15-Ans

In [25]:
#which of the following varibales represent false?
a=bool([False])
b=bool(3)
c=("")
d=(' ')

ans-c

#### 16-Ans

In [30]:
#result?
result=(2*(3+4)**2-(3**3)*3)
print(result)

17

#### 17-Ans

In [ ]:
#to make a value as 9,which expression required to place at line 1
a=2
a+=1
#line 1

ans:a**=2

#### 18-Ans

In [33]:
#represent True?
a=bool(0)
b=bool(3)
c=bool(0.5)
d=bool(0.0)

ans-b & c

#### 19-Ans

#result?
a=21
b=6
print(a/b)
print(a//b)
print(a%b)

#### 20-Ans

In [ ]:
#only show last 3 company management employees name?
employees[-3:]
employees[497:]
All the above
employees[497:500]

#### 21-Ans

In [38]:
#in which cases true will be printed to the console?
subjects=['java','python','sap']
more_subjects=['java','python','sap']
extra_subjects=more_subjects

In [39]:
print(extra_subjects is more_subjects)

True

In [40]:
print(subjects==extra_subjects)

True

#### 22-Ans

In [ ]:
#when we get index error while accesing employee data?
employees[0:501]
employees[1:1000]
employees[-10:10]

ans-None of the above

#### 23-Ans

In [44]:
#result?
Consider the lists:
numbers=[10,20,30,40,50]
alphabets=['a','b','c','d','e']
print=(numbers is alphabets)
print=(numbers==alphabets)
numbers=alphabets
print=(numbers is alphabets)
print=(numbers==alphabets)

ans-false
    false 
    true
    true

#### 24-Ans

In [48]:
#types?
age=0
minoe=False
name='Durga'

ans:int,bool,str

#### 25-Ans

In [49]:
#which one generate maximum value?
8//3*4

8

In [50]:
8%3*4

8

In [51]:
8/3*4

10.666666666666666

In [52]:
8-3*4

-4

#### 26-Ans

In [58]:
# Redefine the built-in print function
import builtins
print = builtins.print

In [ ]:
s='python is easy'
s1=s[6:-4]
#line-1
print(len(s2))
To print 2 as output which code we have to insert at line 1

In [59]:
s='python is easy'
s1=s[6:-4]
s2=s1.strip()
print(len(s2))

2

#### 27-Ans

In [ ]:
#display all employees name except last 3?
emplyees[1:-3]
emplyees[:-3]
emplyees[1:-2]
emplyees[0:-2]
emplyees[0:-3]
ans- b & e

#### 28-Ans

In [60]:
#accessing mango?
list=['Apple','Banana','Carrot','Mango']
list.pop(3)
#OR
list=['Apple','Banana','Carrot','Mango']
list[3]
#OR
list=['Apple','Banana','Carrot','Mango']
list[-1]

'Mango'

#### 29-Ans

In [64]:
#code snippet to produce the output?
l=['Apple','Boy','Cat','Dog']
l1=l[1:]
for x in l1:
    print(x)

Boy
Cat
Dog

In [66]:
#OR
l=['Apple','Boy','Cat','Dog']
for x in l: 
    if len(x)==3:
        print(x)

Boy
Cat
Dog

#### 30-Ans

In [69]:
a=15
b=5
x=a/b
print(x)

3.0

#### 31-Ans

In [ ]:
#when we will get index error while accessing employee name? 
None of the abve
employees[500]
employees[0]
employees[-1]

ans-b

#### 32-Ans

In [70]:
#result want -4?
a=1
b=2
c=4
d=6
(a+b)//d-c

-4

#### 33-Ans

In [71]:
#result?
s='Python is easy'
s1=s[-7:]
s2=s[-4:]
print(s1+s2)

is easyeasy

#### 34-Ans

In [ ]:
#valid python operator precedence order?
Parenthesis
Exponents
Unary Positive,Negative and Not
Multiplication And Division
Addition And Subtraction
And

#### 35-Ans

In [ ]:
#valid expression?
a=eval(input('Enter a number for the expression:'))

ans:b=(-a)**2

#### 36-Ans

In [74]:
#result?
result=8//6%5+2**3-2
print(result)

7

#### 37-Ans

In [77]:
#result?
a=3
b=5
a+=2**3
a-=b//2//3
print(a)

11

#### 38-Ans

In [ ]:
#represent True?
a=bool([])
b=bool(())
c=bool(range(0))
d=bool({})
e=bool(set())

ans-None of the variables represents True

#### 39-Ans

In [80]:
#result want 10?
numbers=[10,20,30,40]
x=0

for i in (30,40,50):
  if i in numbers:
    x=x+5
print(x)

10

In [81]:
#OR
numbers=[10,20,30,40]
x=0

for i in (30,40,50):
  if i not in numbers:
    x=x+10
print(x)

10

#### 40-Ans

In [84]:
#result?
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)
n1=n2
print(n1 is n2)
print(n1==n2)

False
True
True
True