#### 1-What is 7 to the power of 4?

In [1]:
x=7**4
print(x)

2401

#### 2-Split this string s = "Hi there Yogesh!" into a list.

In [2]:
s = "Hi there Yogesh!"
s.split()

['Hi', 'there', 'Yogesh!']

#### 3-Given the variables:
#### planet = "Earth"
#### diameter = 12742
#### Use .format() to print the following string:

#### The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742

print("The diameter of {} is {} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers.

#### 4-Given this nested list, use indexing to grab the word "hello"
#### lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [4]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

#### 5-Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',
                            {'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

#### 6-What is the main difference between a tuple and a list?

In [ ]:
-Tuple is immutable             -list is mutable
-Uses parenthesis ()            -Uses [] brackets

#### 7-Create a function that grabs the email website domain from a string in the form:
####     user@domain.com
#### So for example, passing "user@domain.com" would return: domain.com

In [6]:
def get_domain(email):
    return email.split('@')[1]
get_domain('user@domain.com')

'domain.com'

#### 8-Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [7]:
def findDog(text):
    return 'dog' in text.lower().split()
findDog("Dog")

True

#### 9-Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [8]:
def countDog(text):
    return text.lower().split().count('dog')
countDog("The dog is here")

1

#### 10-Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:

#### seq = ['soup','dog','salad','cat','great']
#### should be filtered down to:

#### ['soup','salad']

In [9]:
seq = ['soup', 'dog', 'salad', 'cat', 'great']
filtered = filter(lambda word: word.startswith('s'), seq)
list(filtered)

['soup', 'salad']

In [ ]:
## OR

In [10]:
list(filter(lambda v:v[0]!='s',seq))

['dog', 'cat', 'great']

#### 11-You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [11]:
def speed_fun(s,b):
    if b==True:
        s=s-5
    else:
        s=s
    if s>80:
        return "BIG TICKET!!"
    elif s>60:
        return "Small Ticket!!"
    else:
        return "No Ticket!!!"

In [12]:
speed_fun(60,False)

'No Ticket!!!'

In [13]:
speed_fun(84,False)

'BIG TICKET!!'

In [14]:
speed_fun(84,True)

'Small Ticket!!'

#### 12-Given a string print number num by extracting all the digits from the string as in string Print negative number if the first character in string is '-'
## eg.
#### -123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,
#### -56dssd78-->-5678

In [ ]:
s=input("Enter the Input:")
numbers=[0,1,2,3,4,5,6,7,8,9]
num=""
if s[0]=="-":
    num=num+s[0]
for n in s:
    if n in str(numbers):
        num=num+n
print(num)

#### 13-WAP(Write A program) to check whether a number is palindrome or not on following 
#### conditions.
#### 1. take input number
#### 2. add number and its reverse
#### 3. check that number is palindrome or not,if not then sum and its reverse

In [ ]:
n1=input("Enter the Number:")
n2=int(n1[::-1])
n3=int(n1) + n2

In [ ]:
n1=input("Enter the Number:")
n2=int(n1[::-1])
n3=str(int(n1) + n2)
while n3!=n3[::-1]:
    n3=str(int(n3)+int(n3[::-1]))
    print("Number is:",n3)
    print("Reverse is:",n3[::-1])
print("Palindrome is:",n3)

#### 14-Write a python function to find and display the five 
#### digit number in which the first digit is two more than 
#### the second,the second digit is two more than the third,
#### the fourth digit is two less than the third, and the 
#### last digit is two more than
#### the fourth.The sum of the third,fourth and fifth digits
#### equals the first.The sum of all the digits is 19

In [17]:
def find_number():
    for d3 in range(0, 10):
        d2 = d3 + 2
        d1 = d2 + 2
        d4 = d3 - 2
        d5 = d4 + 2

        if 0 <= d1 <= 9 and 0 <= d2 <= 9 and 0 <= d4 <= 9 and 0 <= d5 <= 9:
            if d3 + d4 + d5 == d1 and d1 + d2 + d3 + d4 + d5 == 19:
                number = d1*10000 + d2*1000 + d3*100 + d4*10 + d5
                print("The number is:", number)
                return

find_number()

The number is: 75313